.bg-grey-0{
    background-color: var(--color-grey-0);
}
.bg-grey-1{
    background-color: var(--color-grey-1);
}
.bg-grey-2{
    background-color: var(--color-grey-2);
}
.bg-grey-7{
    background-color: var(--color-grey-7);
}
.bg-grey-8{
    background-color: var(--color-grey-8);
}
.bg-grey-9{
    background-color: var(--color-grey-9);
}

.color-grey-1{
    color: var(--color-grey-1);
}
.color-grey-2{
    color: var(--color-grey-2);
}
.color-grey-3{
    color: var(--color-grey-3);
}
.color-grey-4{
    color: var(--color-grey-4);
}
.color-grey-5{
    color: var(--color-grey-5);
}
.color-grey-8{
    color: var(--color-grey-8);
}
.color-grey-9{
    color: var(--color-grey-9);
}

.border-grey-1{
    border-color: var(--color-grey-1);
}
.border-grey-8{
    border-color: var(--color-grey-8);
}
