header{
    margin-top: 1.875rem;
}

header button{
    width: 2.25rem;
    height: 2.25rem;
    border-radius: var(--radius-2);
    border: none;
    background-color: var(--color-grey-8);
    color: var(--color-grey-2);
    cursor: pointer;
}

.header__button--dark{
    background-color: var(--color-grey-1);
    color: var(--color-grey-3);
}

h1{
    color: #212529;
}