.musical-genre__title{
    color: var(--color-grey-1);
}

.musical-genre{
    gap: var(--gap-1);
}

.musical-genre__filter{
    gap: var(--gap-1);
}

.musical-genre__filter input[type="radio"] {
    display: none;
}

label{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 2rem;
    padding-inline: 0.5rem;
    border-radius: var(--radius-1);
    border-style: solid;
    border-width: 1px;
    background-color: var(--color-grey-8);
    border-color: var(--color-grey-8);
    color: var(--color-grey-2);
    font-size: var(--font-3);
    font-weight: var(--medium-bold);
    cursor: pointer;
}

.label--dark{
    background-color: var(--color-grey-1);
    border-color: var(--color-grey-1);
    color: var(--color-grey-3);
}

.radio--light:checked+label{
    background-color: var(--color-grey-1);
    border-color: var(--color-grey-1);
    color: var(--color-grey-8);
  }

.radio--dark:checked+label{
    background-color: #2B2F33;
    border-color: #FDFEFF;
    color: #FDFEFF;
}